<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title th:text="'Product: '${product.name}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/css/layout.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
    <div class="container admin product">
        <p th:text="${product.name}" />
        <p th:text="${product.image}" />
        <p th:text="${product.maximumQuantity}" />
        <p th:text="${product.price}" />
    </div>
</body>
</html>