.item {
	transition-duration: 0.5s;
}

.hidden .item {
	height: 0;
	padding: 0;
	font-size: 0;
	margin: 0;
	border: none;
	opacity: 0;
}

.hidden .item > * {
	display: none;
}

.visible .item {
}

.hidden.indicator {
	display: none;
}