.item {
	transition-duration: 0.5s;
}

.hidden .item {
	height: 0;
	font-size: 0;
	border: none;
	opacity: 0;
	visibility: hidden;
	margin-top: 0;
	margin-bottom: 0;
}

ul.hidden {
	height: 0;
}

.hidden .item > * {
	/*display: none;*/
}

.visible .item {
}

.hidden.indicator {
	display: none;
}

option.hidden {
	display: none;
}

.reveal-if-limited-product, .reveal-if-priced-product {
	visibility: hidden;
}

#type-limited-product:checked ~ .reveal-if-limited-product,
#type-priced-product:checked ~ .reveal-if-priced-product {
	visibility: visible;
}