* {
	margin: 0;
	padding: 0;
}

div.container {
	overflow-y: overlay; 
}

div.aside-main {
	display: grid;
	grid-template-columns: 60fr 139fr;
	margin: 0rem auto;
	width: 49.7rem;
}

header {
	grid-column: 2;
	display: flex;
	justify-content: space-around;
}

.user-form.container header {
	flex-direction: column;
	align-items: center;
}

aside {
	background-color: white;
}

main {
	background-color: hsla(37, 63%, 83%, 1);
/*	grid-column: 2;
	display: flex;
	flex-direction: column;*/
}

form {
	margin: 1rem 0.4rem;
}

.user-form.container form * {
	margin-bottom: 0.75rem;
}

footer {
	grid-column: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}

li.item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

div.interface {
	display: flex;
}

.hidden {
	display: none;
}

img.logo {
	max-width: 100%;
}