@media screen and (max-width: 795px) {
	div.aside-main {
		width: min-content;
		grid-template-columns: 940fr 1390fr;
	}

	h1 {
		width: 16.5rem;
	}

	a.button {
		width: 10.5rem;
	}

	div.address p.directions {
		width: 6.6rem;
		margin-left: auto;
	}

	section.category h2 {
		width: max-content;
	}

	li.item h3 {
		width: 13rem;
		margin-left: 0.3rem;
	}

	li.item {
		padding: 0 0.4rem;
	}
}

@media screen and (max-width: 730px) {
	li.item h3 {
		width: 12rem;
	}
}

@media screen and (max-width: 696px) {
	div.container.shopping div.aside-main {
		grid-template-columns: 1fr;
	}

	div.container.shopping div.aside-main aside {
		border-top-right-radius: var(--border-radius);
		border-bottom-left-radius: 0;
	}

	div.container.shopping div.aside-main main {
		border-top-right-radius: 0;
		border-bottom-left-radius: var(--border-radius);
	}

	div.container.shopping header nav {
		border-bottom: 1px #e4e4e4 solid;
	}

	div.container.shopping div.aside-main aside div.address p.directions {
		width: auto;
	}

	div.container.shopping div.aside-main aside div.address a p.address {
		width: auto;
	}

	div.container.shopping header nav ul li {
		padding: 0.5rem;
	}
}

@media screen and (max-width: 595px) {
	div.aside-main {
		grid-template-columns: 1fr;
	}

	aside {
		border-top-right-radius: var(--border-radius);
		border-bottom-left-radius: 0;
	}

	main {
		border-top-right-radius: 0;
		border-bottom-left-radius: var(--border-radius);
	}

	nav {
		border-bottom: 1px #e4e4e4 solid;
	}

	div.address p.directions {
		width: auto;
	}

	div.address a p.address {
		width: auto;
	}

	form {
		width: max-content;
	}

	nav ul li {
		padding: 0.5rem;
	}
}

@media screen and (max-width: 472px) {
	
}