:root {
	--rounding-padding: 0.3rem;
}

section.category {
	background-color: #d3e3ea;
	padding: var(--rounding-padding);
	margin: var(--rounding-padding);
	border-radius: var(--rounding-padding);
	border: 1px solid black;
}

main {
	padding: var(--rounding-padding);
}

li.item {
	background-color: #f1d8d8;
	margin: 0.4rem 1.2rem;
	border-radius: var(--rounding-padding);
	padding: var(--rounding-padding);
	border: 1px solid black;
}

button {
	padding: 0 0.8rem;
}

li.item h3 {
	font-size: 1.4rem;
}

div.interface p {
	font-size: 1.4rem;
	width: 2rem;
	margin: 0 0.5rem;
	text-align: center;
}

.product_image {
	width: 5%;
}