<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>About Us</title>
	<link rel="stylesheet" type="text/css" href="/css/about-us.css"/>
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" />
</head>
<header>
	<h1>N.A.P.O.S.C.A.</h1>
</header>
<body>
	<main>
	<div>
		<p><em>Not Another Plain Old Shopping Cart Application</em></p>
		<img src="/images/naposca640.jpg" alt="about-us"/>
		<p>Team NAPOSCA is: Alex Malcolm, Brooke Hauser, Jeff Salisbury, Michael Quinten, Marc Gold, and Matt McCall</p>       
	</div>
	</main>
</body>
</html>
