<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>About Us</title>
	<link rel="stylesheet" type="text/css" href="/css/about-us.css"/>
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" />
</head>
<header>
	<h1>N.A.P.O.S.C.A.</h1>
</header>
<body>
	<img src="/images/naposca640.jpg" alt="about-us"/>
</body>
</html>
