<!DOCTYPE html>
<html>
<head>
	<title>Pantry+ | Cart</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="shortcut icon" href="images\favicon.ico" type="image/x-icon" />
	<link rel="icon" href="images\favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="/css/layout.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="/css/animation.css"/>
	<link rel="stylesheet" type="text/css" href="/css/slide-toggle.css"/>
	<link rel="stylesheet" type="text/css" href="/css/cart.media-queries.css"/>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"/>
</head>
<body>
	<div class="container cart">
		<header>
			<nav>
				<ul>
					<li class="previous">
						<h2>Form</h2>
					</li>
					<li class="previous">
						<h2>
							<a th:href="'/shopping?cartId='+${cart.getId()}">Shopping</a>
						</h2>
					</li>
					<li class="current">
						<h2>Cart</h2>
					</li>
				</ul>
			</nav>
		</header>
		<div class="aside-main">
			<aside>
				<img th:replace="user-form :: img.logo"/>
				<div th:replace="user-form :: div.address"/>
				<div class="stats">
					<p th:replace="shopping :: p.meat-stats"/>
					<p th:replace="shopping :: p.coupon-stats"/>
					<a class="button" th:href="'/email?cartId=' + ${cart.getId()}">Send Order</a>
				</div>
			</aside>
			<main>
				<section class="line-item">
					<h3>Product</h3>
					<h3>Quantity</h3>
				</section>
				<section class="line-item" th:each="lineItem : ${lineItems}">
					<p th:text="${lineItem.product.name}" />
					<p>Included</p>
				</section>
				<section class="line-item" th:each="lineItem : ${countedLineItems}">
					<p th:text="${lineItem.product.name}"/>
					<p th:text="${lineItem.quantity}"/>
				</section>
			</main>
		</div>
		<footer th:replace="shopping :: footer" />
	</div>
</body>
</html>