<!DOCTYPE html>
<html>
<head>
	<title>Pantry+ | Cart</title>
	<link rel="shortcut icon" href="images\favicon.ico" type="image/x-icon"/>
	<link rel="icon" href="images\favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" type="text/css" href="/css/layout.css"/>
</head>
<body>
	<div class="container">
		<header>
			<h1>
				Pantry+
			</h1>
			<nav>
				<ul>
					<a th:href="'/shopping?cartId='+${cart.getId()}">Shopping</a>
				</ul>
			</nav>
		</header>
		<main>
			<table style="text-align: center;">
				<tr>
					<th>Product</th>
					<th>Quantity</th>
				</tr>
				<tr class="line-item" th:each="lineItem : ${cart.lineItems}">
					<td th:text="${lineItem.product.name}"/>
					<td th:text="${lineItem.quantity}"/>
				</tr>
			</table>
			<p>
				<span>Total coupons used: </span>
				<span th:text="${cart.totalCouponsUsed()}"/>
			</p>
		</main>
		<footer th:replace="shopping :: footer"/>
	</div>
</body>
</html>