<!-- 
<div th:each="category : ${categories}" class="category-items">
	<p th:text="${category.name == 'Coupon'} ? ${category.id} : false">Something didn't work</p>
	<div th:if="${category.name == 'Coupon'}">
		<p th:replace="coupon-fragment">Replace didn't work.</p>
	</div>
	<section class="category">
		<h2 th:text="${category.name}"/>
	</section>
	<ul class="items hidden">
		<li class="item" th:each="product : ${category.products}">
			<h3 th:text="${product.name}"/>
			<img class="product_image" th:src="${product.image}"/>
			<div th:id="'product-'+${product.id}" class="interface">
				<button class="add" th:value="${product.id}">+</button>
				<p th:text="${cart.getLineItemQuantityByProductId(product.id)}"></p>
				<button class="remove" th:value="${product.id}">-</button>
			</div>
		</li>
	</ul>
</div>
-->
<div class="dichotomous">
	<section class="category">
		<h2 th:text="${category.name}"/>
	</section>
	<ul class="items hidden">
		<li class="item" th:each="product : ${category.products}">
			<h3 th:text="${product.name}"/>
			<img class="product_image" th:src="${product.image}"/>
			<div th:id="'product-'+${product.id}" class="interface">
				<button class="add" th:value="${product.id}">+</button>
				<p th:text="${cart.getLineItemQuantityByProductId(product.id)}"></p>
				<button class="remove" th:value="${product.id}">-</button>
			</div>
		</li>
	</ul>
</div>
<div class="coupon">coupon</div>
<div class="meat">meat</div>