<!DOCTYPE html>
<html>
<head>
	<title>Pantry+</title>
	<link rel="stylesheet" type="text/css" href="/css/layout.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="/css/animation.css"/>
	<script type="text/javascript" src="/js/shopping.js"></script>
</head>
<body onload="initialize()">
	<div class="container">
		<header>
			<h1>
				Pantry+
			</h1>
			<nav>
				<ul>
					<a href="/cart">Cart</a>
				</ul>
			</nav>
		</header>
		<main>
			<div th:each="category : ${categories}" class="category-items">
				<section class="category">
					<h2 th:text="${category.name}"/>
				</section>
				<ul class="items hidden">
					<li class="item" th:each="product : ${category.products}">
						<p th:text="${product.name}"/>
						<button th:class="${product.id}">Add</button>
					</li>
				</ul>
			</div>
		</main>
		<footer>
			<small>Created by NAPOSCA</small>
		</footer>
	</div>
</body>
</html>