<!DOCTYPE html>
<html>
<head>
	<title>Pantry+</title>
	<link rel="stylesheet" type="text/css" href="../static/layout.css">
</head>
<body>
	<div class="container">
		<header>
			<h1>
				Pantry+
			</h1>
			<nav>
				<ul>
					<a href="/cart">Cart</a>
				</ul>
			</nav>
		</header>
		<main>
			<section>
				<h2>Personal Hygiene</h2>
			</section>
			<section>
				<h2>Meal Starter</h2>
			</section>
			<section>
				<h2>Dairy</h2>
			</section>
			<section>
				<h2>Produce</h2>
			</section>
			<section>
				<h2>Coupon</h2>
			</section>
			<section>
				<h2>Bread</h2>
			</section>
			<section>
				<h2>Goodies</h2>
			</section>
			<section>
				<h2>Meat</h2>
			</section>
		</main>
		<footer>
			<small>Created by NAPOSCA</small>
		</footer>
	</div>
</body>
</html>