<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Out of Area Code</title>
	<link rel="stylesheet" type="text/css" href="/css/layout.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon"/>
</head>
<body>
	<div class="container confirmation">
		<div class="message invalid">
			<h1>Out of Area Code</h1>
			<br />
			<p>Sorry, the Broad Street Food Pantry does not service your zip code.</p>
			<p>For help locating a pantry in your area, please visit <a href="https://handsoncentralohio.org/locate-services/">Hands On Central Ohio</a>.</p>
		</div>
	</div>
</body>
</html>