<!DOCTYPE html>
<html>
<head>
	<title>Pantry+</title>
	<link rel="stylesheet" type="text/css" href="/css/layout.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="/css/animation.css"/>
	<link rel="stylesheet" type="text/css" href="/css/slide-toggle.css"/>
	<link rel="shortcut icon" href="images\favicon.ico" type="image/x-icon"/>
	<link rel="icon" href="images\favicon.ico" type="image/x-icon"/>
	<script type="text/javascript" src="/js/shopping.js"></script>
	<script th:inline="javascript">
		/*<![CDATA[*/
		const cartId = /*[[${cart.id}]]*/;
		/*]]>*/
	</script>
</head>
<body onload="initialize()">
	<div class="container">
		<header>
			<h1>
				Pantry+
			</h1>
			<nav>
				<ul>
					<a th:href="'/carts/' + ${cart.getId()}">Cart</a>
				</ul>
			</nav>
		</header>
		<main>
			<div th:each="category : ${categories}" class="category-items" th:unless="${category.name == 'After School Snacks' and cart.user.schoolAgeChildren == 0}">
				<section class="category">
					<h2 th:text="${category.name}"/>
					<p class="indicator visible">+</p>
					<p class="indicator hidden">-</p>
					<p th:if="${category.name == 'Meat'}">
						<span>Available lbs of Meat: </span>
						<span th:text="${cart.getUser().calculateMeatTotal()}"/>
					</p>
					<p th:if="${category.name == 'Coupon'}">
						<span>Available points of Coupons: </span>
						<span th:text="${cart.getUser().calculateCouponTotal()}" th:if="${category.name == 'Coupon'}"/>
					</p>
				</section>
				<ul class="items hidden">
					<li class="item" th:each="product : ${category.products}" th:unless="${product.name == 'Diapers' and cart.user.hasInfants() == false}">
						<h3 th:text="${product.name}"/>
						<img class="product-image" th:src="${product.image}" draggable="false"/>
						<div th:id="'product-'+${product.id}" th:switch="true" class="switch">
							<div th:case="${category.name == 'Coupon'}" class="case">
								<div th:replace="fragments/interfaces :: .coupon"/>
							</div>
							<div th:case="${category.name == 'Meat'}" class="case">
								<div th:replace="fragments/interfaces :: .meat"/>
							</div>
							<div th:case="true" class="case">
								<div th:replace="fragments/interfaces :: .dichotomous"/>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</main>
		<footer>
			<small>Created by NAPOSCA</small>
		</footer>
	</div>
</body>
</html>