<!DOCTYPE html>
<html>
<head>
		<link rel="shortcut icon" href="images\favicon.ico" type="image/x-icon"/>
		<link rel="icon" href="images\favicon.ico" type="image/x-icon"/>
	<title>Welcome to BSFP</title>
</head>
<body>
	<div class="container">
		<form action="/user-form">

			<p>What is your zip code?</p>
			<select name="zipCode" required="true">
				<option selected="true" disabled="true" hidden="true" value="">Select...</option>
				<option value="43203">43203</option>
				<option value="43205">43205</option>
				<option value="43209">43209</option>
				<option value="43213">43213</option>
				<option value="43215">43215</option>
				<option value="other">Other</option>
			</select>

			<p>Please select your total family size:</p>
			<select name="familySize" required="true">
				<option selected="true" disabled="true" hidden="true" value="">Select...</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9+</option>
			</select>

			<p>Please select how many children between the ages of 4 and 17 you have:</p>
			<select name="schoolkidsCount">
				<option selected="true" value="0">0</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10+</option>
			</select>

			<p>Do you have any children below the age of 4?</p>
			<input type="checkbox" name="infants" value="true"/>

			<p>Please choose a pick up date:</p>
			<select name="pickUpDate" required="true">
				<option selected="true" disabled="true" hidden="true" value="">Select...</option>
				<option value="2018-04-17">04/17/2018</option>
			</select>	
				
			<p><input type="submit"/></p>
		</form> 
	</div>
</body>
</html>