<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Administration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/css/layout.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
    <div class="container admin">
        <h1>Administration Page</h1>
        <section class="category-creator">
            <h2>Category Creator</h2>
            <form action="/admin/categories" method="post">
                <label for="category-name">Category name</label>
                <input id="category-name" type="text" name="categoryName" />
                <input type="submit" />
            </form>
        </section>
        <div th:each="category : ${categories}">
            <p th:text="${category.name}" />
        </div>
    </div>
</body>
</html>